QuizPlease/Keys.plist
Keys.plist
Frameworks
Pods
*.lock
*.resolved
*.xcscheme
*.xcbkptlist
QuizPlease.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
QuizPlease.xcworkspace/xcuserdata/*
QuizPlease.xcodeproj/xcuserdata/*
QuizPlease.xcworkspace
