//
//  Debug.xcconfig
//  QuizPlease
//
//  Created by Владислав on 07.04.2023.
//  Copyright © 2023 Владислав. All rights reserved.
//

#include "Base.xcconfig"
#include "Pods/Target Support Files/Pods-QuizPlease/Pods-QuizPlease.debug.xcconfig"

APP_NAME = $(inherited) Dev
ASSETCATALOG_COMPILER_APPICON_NAME = $(inherited)-Debug
