<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PaymentKeys</key>
	<dict>
		<key>devKey</key>
		<string>ask-manager-for-dev-key</string>
		<key>productionKey</key>
		<string>ask-manager-for-production-key</string>
	</dict>
</dict>
</plist>
