<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShopKeys</key>
	<dict>
		<key>development</key>
		<dict>
			<key>paymentKey</key>
			<string>test_Njg0NDMx448Lmmlqf-gSAxW6E5sj-WpKuwztgFRr-c0</string>
			<key>shopId</key>
			<string></string>
		</dict>
		<key>production</key>
		<dict>
			<key>paymentKey</key>
			<string>live_NzU1NTU07gLSO5hNG4ORAWfm2xDZmiS3lLBoXLpF3JQ</string>
			<key>shopId</key>
			<string>755554</string>
		</dict>
		<key>31</key>
		<dict>
			<key>paymentKey</key>
			<string>live_Nzk4MTIxtBRSc1ognJe7VMfUB_vDcoQUQRxw-2aEN9g</string>
			<key>shopId</key>
			<string>798121</string>
		</dict>
		<key>40</key>
		<dict>
			<key>paymentKey</key>
			<string>live_Nzk5NTc0PK5TG69LBjyDvKnssDC42tNs0dJoxSbWGbU</string>
			<key>shopId</key>
			<string>799574</string>
		</dict>
		<key>67</key>
		<dict>
			<key>paymentKey</key>
			<string>live_NzU1NTU07gLSO5hNG4ORAWfm2xDZmiS3lLBoXLpF3JQ</string>
			<key>shopId</key>
			<string>755554</string>
		</dict>
		<key>13</key>
		<dict>
			<key>paymentKey</key>
			<string>live_Nzk4NDU10AVaBr3Ew97QvpLrA_pNOPTV-HIgPuExkJQ</string>
			<key>shopId</key>
			<string>798455</string>
		</dict>
		<key>21</key>
		<dict>
			<key>paymentKey</key>
			<string>live_Nzk3ODQ4_Z38QhL9TUFCNSt05uVtmFjzrxJb9bHtjPQ</string>
			<key>shopId</key>
			<string>797848</string>
		</dict>
		<key>14</key>
		<dict>
			<key>paymentKey</key>
			<string>live_Nzk3ODQ4_Z38QhL9TUFCNSt05uVtmFjzrxJb9bHtjPQ</string>
			<key>shopId</key>
			<string>797848</string>
		</dict>
		<key>33</key>
		<dict>
			<key>paymentKey</key>
			<string>live_NjkwNjM34hGsJywtDXcaypCRPlxK-1Up7PMoMCjScHc</string>
			<key>shopId</key>
			<string>690637</string>
		</dict>
		<key>17</key>
		<dict>
			<key>paymentKey</key>
			<string>live_NjgyODY4KlHj5Pq3lyhLkaOz8u0dk5NAeDKeyz7OYec</string>
			<key>shopId</key>
			<string>682868</string>
		</dict>
		<key>9</key>
		<dict>
			<key>paymentKey</key>
			<string>live_NzU1NTU07gLSO5hNG4ORAWfm2xDZmiS3lLBoXLpF3JQ</string>
			<key>shopId</key>
			<string>755554</string>
		</dict>
		<key>63</key>
		<dict>
			<key>paymentKey</key>
			<string>live_Njg0Nzcz8zH3u8-2X8XqrFSsWLv9OTpfAhW7q0Bdjfo</string>
			<key>shopId</key>
			<string>684773</string>
		</dict>
		<key>77</key>
		<dict>
			<key>paymentKey</key>
			<string>live_Nzk4MTI41-1acXfpX7KXXcnl8Lv3kX-_JIvue2L_Y_4</string>
			<key>shopId</key>
			<string>798128</string>
		</dict>
	</dict>
</dict>
</plist>
